@model SupplyManagement.WebApp.Models.ViewModels.SupplyRequestViewModel

@{
    ViewData["Title"] = "Create Supply Request";
}
<br />
<h2 class="text-info">Create Supply Request</h2>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border p">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row my-3">
            <div class="col-2">
                <label asp-for="@Model.ItemsIds" class="form-label">Select items:</label>
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="col-5">
                <select asp-for="ItemsIds" asp-items="Model.SelectedItems" class="form-control form-select" multiple="multiple" , id="Items_dropdown">
                </select>
            </div>
        </div>
        <div class="form-group my-3">
            <input type="submit" class="btn btn-primary" value="Create" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Items_dropdown').multiselect({
                disableIfEmpty: true,
                enableFiltering: true,
                includeSelectAllOption: true,
            });
        });
    </script>
}