@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <p>
        Our Privacy Policy outlines the types of personal information that is received and collected by our application and how it is used.
    </p>
    <p>
        We are committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can 
        be identified when using this application, then you can be assured that it will only be used in accordance with this privacy statement.
    </p>
    <p>
        We may collect the following information:
    </p>
    <ul>
        <li>Your name</li>
        <li>Contact information including email address</li>
        <li>Other information relevant to customer surveys and/or offers</li>
    </ul>
    <p>
        This information is required for internal record keeping and to improve our products and services. 
    </p>
    <p>
        We are committed to ensuring that your information is secure. 
        In order to prevent unauthorized access or disclosure, we have put in place suitable physical, electronic, and managerial procedures to safeguard and secure the information we collect online.
    </p>
    <p>
        Our Privacy Policy may change from time to time and all updates will be posted on this page.
    </p>
    <p>
        If you have any questions or concerns about our Privacy Policy, please contact us.
    </p>
</div>
