@{
    ViewData["Title"] = "Thank you for registration";
}

<div class="text-center">
    <h1 class="display-4">Thank you for registration!</h1>
    <p>Your account was successfully registered and waiting for approval.</p>
</div>
